.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:50%;
	right:10px;
	background-color:#fff;
	color:#FFF;
	border-radius:16px;
	text-align:center;
	box-shadow: 0px 0px 12px  #00000050;
    border: 4px solid #FFF;
    transition:linear 0.2s;
}
.float:active{
    background-color:#3E64FF;
    animation: linear 0.4s;
}
.float:hover{
    width:200px;
	height:80px;
    bottom:49%;
    transition: linear 0.2s;
	border: 4px solid #3E64FF;
}
*{padding:0;margin:0;}
.reset{
    width: 40px;
    height: 40px;
	margin-top:10px;
}
.float:hover .reset{
    float: left;
    left: 15px;
    width: 50px;
    margin-left:18px;
    transition: linear 0.2s;
    height: 50px;
	margin-top:15px;
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}
.reset_text{
    display: none;
    position: fixed;
    float: right;
    color: #262d41;
    bottom: 51%;
    right: 34px;
    font-size: 36px;
}
.float:hover .reset_text {
    display: block;
    font-size: 36px;
    animation: fadeIn 0.5s;
    -webkit-animation: fadeIn 0.5s;
    -moz-animation: fadeIn 0.5s;
    -o-animation: fadeIn 0.5s;
    -ms-animation: fadeIn 0.5s;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }