/*
 * Main
 */
.seekbar{
    margin: 0;
    padding: 0;
    width: 32vw;
    height: 0.8vw;
    border: 0.2vw solid #fff;
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(236,255,38,1) 50%, rgba(255,0,0,1) 100%);;
    position: relative;
    cursor: pointer;
    border-radius: 1.1em;
    float: left;
}
.valuetext{
    float: left;
    font-size: 1.5vw;
    padding-bottom: 0.5vw;
    padding-top: 0.5vw;
    margin-bottom: 0.5vw;
    margin-top: 0.5vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}

.nowtext{
    float: left;
    margin-top: 0px;
}
.title_bar{
    margin-top: 0;
}
.seekbar_btn,
.seekbar_bg{
    padding: 0;
    border-radius: 1.1em;
    position: absolute;
    left: 0;
}

/* 
 * Seekber Circle Button
 */
.seekbar_btn{
    margin: -0.35vw 0 0 -1.1vw;
    height: 1vw;
    width: 1vw;
    background: #fff;    
    border: #3E64FF solid 0.25vw;
    z-index: 2;
}

.seekbar_btn:hover,
.seekbar_btn:active{
    background: #3E64FF;
}

/* 
 * Seekber Background
 */
.seekbar_bg{
    margin: 0;
    height: 100%;
    z-index: 1;
}

.seekbar_btn span {display: none; position: absolute; color: #fff;  padding: 5px;}
.seekbar_btn:hover span {font-size: 1.5vw;margin-top:2vw;padding-right:1vw;padding-left:1vw;color:black;background-color: #fff;border-radius:0.5vw;display: block; text-align: center;}