body{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    color: #262d41;
    background: rgb(24, 32, 57);
    color: #fff;
    font-size: 1.5vw;

}
div{
    font-family: 'Nunito', sans-serif;
}
.bar_container{
    --margin: 29.5vw;
    min-width: 28vw;
    margin-left: calc(50% - var(--margin));
    padding-top: 0vw;
    padding-bottom: 1vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.topbar{
    float: left;
    height: 3vw;
    padding: 0.5vw 1vw;
    width: auto;
}

.image{
    position: absolute;
    width: auto;
    height: 3vw;
    left: 24px;
    top: 24px;
}

.type{
    float: left;
}

.card {
    --width: 50vw;
    width: 50vw;
    height: auto;
    padding-right: 2.5vw;
    padding-left: 0.75vw;
    padding-top: 4vw;
    padding-bottom: 2vw;
    left: 0px;
    top: 0px;
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-left: calc(50% - (var(--width)/2 + 2.5vw));
    border-radius: 24px;
    position: static;
}

table, tr, td{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-weight:bold;
    margin: 0px 0px;
}

.row{
    width: 100%;
}

.bt{
    --margin: 18.5vw;
    margin-left: calc(50% - var(--margin));
}


table {
    
    height: auto;
    width: 100%;
}

tr{
    background-color: #fff;
}

td {
    
    outline: 0;
    border: 0.3vw solid rgb(24, 32, 57);
    border-radius: 0.5vw;
    color: #434343;
    width: 20%;
    padding-left: 3vw;
    padding-right: 3vw;
}
