body{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    color: #262d41;
    background: rgb(24, 32, 57);
    color: #fff;
    font-size: 1.5vw;
    
}
div{
    font-family: 'Nunito', sans-serif;
    animation: fadeIn 0.5s;
    -webkit-animation: fadeIn 0.5s;
    -moz-keyframes:fadeIn 0.5s;
}
.bar_container{
    --margin: 28.5vw;
    min-width: 28vw;
    margin-left: calc(50% - var(--margin));
    padding-top: 0vw;
    padding-bottom: 1vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

#title_bar{
    padding-left: 1.5vw;
}

.topbar{
    float: left;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    width: auto;
}
#table{
    animation: fadeIn 0.5s;
    -webkit-animation: fadeIn 0.5s;
    -moz-keyframes:fadeIn 0.5s;
}
.tuto{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-keyframes:fadeIn 1s;
}

.image{
    position: absolute;
    width: auto;
    height: 3vw;
    left: 2vw;
    top: 1.5vw;
}

.type{
    float: left;
}

.card {
    --width: 50vw;
    width: 50vw;
    height: auto;
    padding-right: 2.5vw;
    padding-left: 0.75vw;
    padding-top: 4vw;
    padding-bottom: 2vw;
    left: 0px;
    top: 0px;
    margin-top: 2vw;
    margin-bottom: 1vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 24px;
    position: static;
}

table, tr, td{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-weight:bold;
    margin: 0px 0px;
    animation: fadeIn 0.5s;
    -webkit-animation: fadeIn 0.5s;
    -moz-keyframes:fadeIn 0.5s;
}

.row{
    width: 100%;
}

.bt{
    --margin: 10vw;
    margin-left: calc(50% - var(--margin));
}


table {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

tr{
    background-color: #fff;
}

td {
    
    outline: 0;
    border: 0.3vw solid rgb(24, 32, 57);
    border-radius: 0.5vw;
    color: #434343;
    width: 20%;
    padding-left: 3vw;
    padding-right: 3vw;
}
